In [16]:
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.exceptions import NotFound
import pandas as pd
import os      
import datetime as dt

In [2]:
data_dir = './data'

cpi_file = 'US-CPI.csv'
unemp_file = 'USUnemployment.csv'

In [3]:
# from pyspark.sql.functions import col,avg
# # rename cols in cpi df

# for column in cpi_df.columns: 
#   cpi_df = cpi_df.withColumnRenamed(column, column.lower())

# cpi_df = cpi_df.withColumnRenamed('yearmon', 'year')

# # split year column into month, date, year columns
# split_cpi_df = cpi_df.withColumn("month", sf.split(sf.col('year'), "-").getItem(0))\
#               .withColumn('date', sf.split(sf.col('year'), "-").getItem(1))\
#               .withColumn('year', sf.split(sf.col('year'), "-").getItem(2))

# # cast year col to int for groupby method
# # cpi_df = cpi_df.withColumn('year', sf.col('year').cast('int'))

# # rename cols in unemployment df
# for column in unemp_df.columns: 
#   unemp_df = unemp_df.withColumnRenamed(column, column.lower())

# # calculate avg unemployment rate per year
# udf_avg = sf.udf(lambda array: sum(array)/len(array))
# unemp_df = unemp_df.withColumn("avg_unemp_rate_per_year", udf_avg(sf.array('Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec')).cast('float'))

# # calculate avg inflation rate per year
# avg_cpi_df = split_cpi_df.groupBy(sf.col('year')) \
#                 .agg(sf.avg(sf.col('cpi')).alias('avg_cpi_per_year'))

# # avg_cpi_df.show(truncate=False)
# avg_cpi_df.show(5)
# unemp_df.show(5)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/mnt/c/Users/Owner/Desktop/Data-engineer/Independent-Project/Stock-prices/venv/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_6519/2690271736.py", line 4, in <module>
    for column in cpi_df.columns:
NameError: name 'cpi_df' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/mnt/c/Users/Owner/Desktop/Data-engineer/Independent-Project/Stock-prices/venv/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'NameError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/mnt/c/Users/Owner/Desktop/Data-engineer/Independent-Project/Stock-prices/venv/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/mnt/c/Users/Owner/Desktop/Data-engineer/Independent-Project/Stock-prices/venv/lib/python3.7/site-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/mnt/c/Users/Owner/Desktop/Data-engineer/Independent-Project/Stock-prices/venv/lib/python3.7/site-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/usr/lib/python3.7/inspect.py", line 742, in getmodule
    os.path.realpath(f)] = module.__name__
  File "/usr/lib/python3.7/posixpath.py", line 395, in realpath
    path, ok = _joinrealpath(filename[:0], filename, {})
  File "/usr/lib/python3.7/posixpath.py", line 429, in _joinrealpath
    if not islink(newpath):
  File "/usr/lib/python3.7/posixpath.py", line 171, in islink
    st = os.lstat(path)
KeyboardInterrupt

TypeError: object of type 'NoneType' has no len()

In [19]:
data_dir = 'dsa-airflow/data'

cpi_file = 'US-CPI.csv'
unemp_file = 'USUnemployment.csv'

# read and rename unemployment file
unemp = pd.read_csv(os.path.join(data_dir, unemp_file), header=0)
unemp.columns = unemp.columns.str.lower()


# calculate the avg yearly unemp. rate
columns = ['jan',	'feb',	'mar',	'apr',	'may'	,'jun',	'jul',	'aug',	'sep',	'oct',	'nov',	'dec']
unemp['avg_unemp_per_year']  = unemp[columns].mean(axis=1)

unemp.to_csv(os.path.join(data_dir, 'unemp.csv'), header=True, index=False)

print(unemp.head(5))
print(unemp.dtypes)
# unemp.dtypes

   year  jan  feb  mar  apr  may  jun  jul  aug  sep  oct  nov  dec  \
0  1948  3.4  3.8  4.0  3.9  3.5  3.6  3.6  3.9  3.8  3.7  3.8  4.0
1  1949  4.3  4.7  5.0  5.3  6.1  6.2  6.7  6.8  6.6  7.9  6.4  6.6
2  1950  6.5  6.4  6.3  5.8  5.5  5.4  5.0  4.5  4.4  4.2  4.2  4.3
3  1951  3.7  3.4  3.4  3.1  3.0  3.2  3.1  3.1  3.3  3.5  3.5  3.1
4  1952  3.2  3.1  2.9  2.9  3.0  3.0  3.2  3.4  3.1  3.0  2.8  2.7

   avg_unemp_per_year
0            3.750000
1            6.050000
2            5.208333
3            3.283333
4            3.025000
year                    int64
jan                   float64
feb                   float64
mar                   float64
apr                   float64
may                   float64
jun                   float64
jul                   float64
aug                   float64
sep                   float64
oct                   float64
nov                   float64
dec                   float64
avg_unemp_per_year    float64
dtype: object

In [20]:
unemp.to_csv(os.path.join(data_dir, 'unemp.csv'), header=True, index=False)

In [5]:
# read and rename cpi file / parse_dates=['Yearmon']
cpi  = pd.read_csv(os.path.join(data_dir, cpi_file), header=0)
cpi = cpi.rename(columns={'Yearmon': 'year', 'CPI': 'cpi'})
cpi[['month', 'date', 'year']] = cpi.year.str.split("-", expand=True)

# calculate the avg yearly cpi rate
cpi['avg_cpi_per_year'] = cpi.groupby('year')['cpi'].transform('mean')
cpi[['month','year','date']] = cpi[['month','year','date']].astype('int')

print(cpi.head(5))
print(cpi.dtypes)

   year  cpi  month  date  avg_cpi_per_year
0  1913  9.8      1     1          9.883333
1  1913  9.8      1     2          9.883333
2  1913  9.8      1     3          9.883333
3  1913  9.8      1     4          9.883333
4  1913  9.7      1     5          9.883333
year                  int64
cpi                 float64
month                 int64
date                  int64
avg_cpi_per_year    float64
dtype: object

In [21]:
cpi.to_csv(os.path.join(data_dir, 'cpi.csv'), header=True, index=False)

In [6]:
from google.cloud import bigquery
from google.oauth2 import service_account

# create full table id
PROJECT_ID = "team-week-3"
DATASET_ID = "tech_stocks_world_events"

# create bigquery client
# key_path = os.path.expanduser("/home/chloe_ycl/.creds/team-week-3.json")
# credentials = service_account.Credentials.from_service_account_file(key_path, 
#                                                               scopes=["https://www.googleapis.com/auth/cloud-platform"])

client = bigquery.Client(project=PROJECT_NAME)

print("Successfully created a BiqQuery client")
print(f"Project: {client.project}")

# create dataset
dataset_id = "{}.tech_stocks_world_events".format(client.project)

#construct dataset obj to send to API
dataset = bigquery.Dataset(dataset_id)

#specify the location
dataset.location = "US"

dataset = client.create_dataset(dataset, timeout=30, exists_ok=True) #Make an API request
print("Created dataset {}.{}".format(client.project, dataset.dataset_id))

Successfully created a BiqQuery client
Project: team-week-3
Created dataset team-week-3.tech_stocks_world_events

In [7]:
# funtion to load table from dataframes

def load_table(
    df: pd.DataFrame, 
    client: bigquery.Client, 
    table_name: str, 
    schema: bigquery.SchemaField,
    create_disposition: str = 'CREATE_IF_NEEDED', 
    write_disposition: str = 'WRITE_TRUNCATE'
    ) -> None:
    
    job_config = bigquery.LoadJobConfig(
        create_disposition=create_disposition,
        write_disposition=write_disposition,
        schema=schema
    )
    
    job = client.load_table_from_dataframe(df, destination=table_name, job_config=job_config)
    job.result()        # wait for the job to finish



# create our own bigquery schema
CPI_METADATA = {
    'cpi_rates': {
        'table_name': 'cpi_rates',
        'schema' : [
            bigquery.SchemaField("year", "INTEGER", mode="REQUIRED"),
            bigquery.SchemaField("cpi", "FLOAT", mode="REQUIRED"),
            bigquery.SchemaField("month", "INTEGER", mode="REQUIRED"),
            bigquery.SchemaField("date", "INTEGER", mode="REQUIRED"),
            bigquery.SchemaField("avg_cpi_per_year", "FLOAT", mode="REQUIRED"),]
    }}

UNEMP_METADATA = {
    'unemployment_rates' :{
        'table_name': 'unemployment_rates',
        'schema': [
            bigquery.SchemaField("year", "INTEGER", mode="REQUIRED"),
            bigquery.SchemaField("jan", "FLOAT", mode="REQUIRED"),
            bigquery.SchemaField("feb", "FLOAT", mode="REQUIRED"),
            bigquery.SchemaField("mar", "FLOAT", mode="REQUIRED"),
            bigquery.SchemaField("apr", "FLOAT", mode="REQUIRED"),
            bigquery.SchemaField("may", "FLOAT", mode="REQUIRED"),
            bigquery.SchemaField("jun", "FLOAT", mode="REQUIRED"),
            bigquery.SchemaField("jul", "FLOAT", mode="REQUIRED"),
            bigquery.SchemaField("aug", "FLOAT", mode="REQUIRED"),
            bigquery.SchemaField("sep", "FLOAT", mode="REQUIRED"),
            bigquery.SchemaField("oct", "FLOAT", mode="REQUIRED"),
            bigquery.SchemaField("nov", "FLOAT", mode="REQUIRED"),
            bigquery.SchemaField("dec", "FLOAT", mode="REQUIRED"),
            bigquery.SchemaField("avg_unemp_per_year", "FLOAT", mode="REQUIRED")]
    }}

In [8]:
# load to bq
table_name = f"{PROJECT_ID}.{DATASET_ID}.{CPI_METADATA['cpi_rates']['table_name']}"
schema = CPI_METADATA['cpi_rates']['schema']
load_table(cpi, client, table_name, schema)

table_name = f"{PROJECT_ID}.{DATASET_ID}.{UNEMP_METADATA['unemployment_rates']['table_name']}"
schema = UNEMP_METADATA['unemployment_rates']['schema']
load_table(unemp, client, table_name, schema)

In [9]:
# query Stock file from bq
STOCK_DATASET_ID = 'tech_stocks_world_events'

stocks = f""" SELECT * FROM {PROJECT_ID}.{STOCK_DATASET_ID}.stocks """

result = client.query(stocks)

# read to dataframe
df = result.to_dataframe()

# read to csv file
stock_file = 'stocks.csv'
df.to_csv(os.path.join(data_dir, stock_file), header=True, index=False)

# read stocks.csv
stocks_df = pd.read_csv(os.path.join(data_dir, stock_file), header=0)

stocks_df

,stock_name,year,month,day,date,open,high,low,close,adj_close,volume,sd_id
0,AAPL,2022,6,1,2022-06-01 00:00:00+00:00,149.899994,151.740005,147.679993,148.710007,148.257782,74286600,AAPL2022-06-01
1,ADBE,2022,6,1,2022-06-01 00:00:00+00:00,428.000000,437.549988,413.790009,418.160004,418.160004,3409900,ADBE2022-06-01
2,AMZN,2022,6,1,2022-06-01 00:00:00+00:00,122.255997,125.179001,120.622498,121.683998,121.683998,127528000,AMZN2022-06-01
3,CRM,2022,6,1,2022-06-01 00:00:00+00:00,178.009995,184.419998,174.369995,176.070007,176.070007,37037400,CRM2022-06-01
4,CSCO,2022,6,1,2022-06-01 00:00:00+00:00,45.549999,45.799999,44.770000,45.230000,44.061939,20666000,CSCO2022-06-01
...,...,...,...,...,...,...,...,...,...,...,...,...
47766,NFLX,2017,1,31,2017-01-31 00:00:00+00:00,140.550003,141.830002,139.699997,140.710007,140.710007,4411600,NFLX2017-01-31
47767,NVDA,2017,1,31,2017-01-31 00:00:00+00:00,27.237499,27.512501,27.049999,27.295000,26.914753,36275600,NVDA2017-01-31
47768,ORCL,2017,1,31,2017-01-31 00:00:00+00:00,40.209999,40.250000,39.669998,40.110001,36.346123,10766700,ORCL2017-01-31
47769,TSLA,2017,1,31,2017-01-31 00:00:00+00:00,16.615999,17.059334,16.513332,16.795334,16.795334,61741500,TSLA2017-01-31
47770,Bitcoin,2017,1,31,2017-01-31 00:00:00+00:00,920.958984,972.018982,920.958984,970.403015,970.403015,164582000,Bitcoin2017-01-31

In [ ]:
#calculate avg stock price per company per year
avg_stock_price_per_year = stocks_df.groupby(['stock_name', 'year']).mean()

avg_stock_price_per_year = avg_stock_price_per_year.reset_index()
avg_stock_price_per_year['year'] = avg_stock_price_per_year['year'].astype('int')

print(avg_stock_price_per_year.dtypes)
avg_stock_price_per_year.head(12)

stock_name            object
year                   int64
open                 float64
high                 float64
low                  float64
close                float64
adj_close            float64
volume               float64
__index_level_0__    float64
dtype: object

,stock_name,year,open,high,low,close,adj_close,volume,__index_level_0__
0,AAPL,2010,9.284201,9.370315,9.173129,9.280088,7.910513,5.993053e+08,125.5
1,AAPL,2011,13.002194,13.122270,12.867775,13.000154,11.081564,4.922990e+08,377.5
2,AAPL,2012,20.594740,20.779479,20.354327,20.573204,17.579520,5.278568e+08,628.5
3,AAPL,2013,16.897433,17.058533,16.723111,16.879817,14.713781,4.064348e+08,879.5
4,AAPL,2014,23.054958,23.253166,22.868885,23.066164,20.592402,2.526109e+08,1131.5
5,AAPL,2015,30.043938,30.311131,29.715774,30.010000,27.249668,2.073976e+08,1383.5
6,AAPL,2016,26.126944,26.356796,25.922569,26.151002,24.237950,1.536901e+08,1635.5
7,AAPL,2017,37.611225,37.851514,37.371912,37.637769,35.542361,1.085383e+08,1887.0
8,AAPL,2018,47.277859,47.748526,46.795877,47.263357,45.312169,1.360803e+08,2138.0
9,AAPL,2019,51.967272,52.457927,51.567907,52.063988,50.702360,1.121228e+08,2389.5
10,AAPL,2020,95.267668,96.661769,93.912796,95.347075,93.916394,1.575646e+08,2642.0
11,AAPL,2021,140.861866,142.347818,139.474087,140.989365,139.800847,9.052463e+07,2894.5

In [ ]:
# STOCK_METADATA = {
#     'avg_stock_price_per_year': {
#         'table_name': 'avg_stock_price_per_year',
#         'schema': [
#             bigquery.SchemaField("stock_name", "STRING", mode="REQUIRED"),
#             bigquery.SchemaField("year", "INTEGER", mode="REQUIRED"),
#             bigquery.SchemaField("open", "FLOAT", mode="REQUIRED"),
#             bigquery.SchemaField("high", "FLOAT", mode="REQUIRED"),
#             bigquery.SchemaField("low", "FLOAT", mode="REQUIRED"),
#             bigquery.SchemaField("close", "FLOAT", mode="REQUIRED"),
#             bigquery.SchemaField("adj_close", "FLOAT", mode="REQUIRED"),
#             bigquery.SchemaField("volume", "FLOAT", mode="REQUIRED"),
#             bigquery.SchemaField("__index_level_0__", "FLOAT", mode="REQUIRED")]
#     }
# }

# table_name = f"{PROJECT_ID}.{DATASET_ID}.{STOCK_METADATA['avg_stock_price_per_year']['table_name']}"
# schema = STOCK_METADATA['avg_stock_price_per_year']['schema']
# load_table(avg_stock_price_per_year, client, table_name, schema)

In [ ]:
from airflow.sensors.filesystem import FileSensor
from airflow.hooks.filesystem import FSHook
# check bq clients

# wait for unemp and cpi are saved in the local data folder
# wait for stock_df are bq 


# do transformation for unemployment_df, cpi_df
def cpi_transformation():

    # read and rename cpi file / parse_dates=['Yearmon']
    cpi  = pd.read_csv(os.path.join(data_dir, cpi_file), header=0)
    cpi = cpi.rename(columns={'Yearmon': 'year', 'CPI': 'cpi'})
    cpi[['month', 'date', 'year']] = cpi.year.str.split("-", expand=True)

    # calculate the avg yearly cpi rate
    cpi['avg_cpi_per_year'] = cpi.groupby('year')['cpi'].transform('mean')
    cpi[['month','year','date']] = cpi[['month','year','date']].astype('int')

    print(cpi)

def unemp_transformation():
    
    # read and rename unemployment file
    unemp = pd.read_csv(os.path.join(data_dir, unemp_file), header=0)
    unemp.columns = unemp.columns.str.lower()


    # calculate the avg yearly unemp. rate
    columns = ['jan',	'feb',	'mar',	'apr',	'may'	,'jun',	'jul',	'aug',	'sep',	'oct',	'nov',	'dec']
    unemp['avg_unemp_per_year']  = unemp[columns].mean(axis=1)

    print(unemp)

# create dataset


# load tables

In [ ]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound


client = bigquery.Client()

# TODO(developer): Set dataset_id to the ID of the dataset to determine existence.
# dataset_id = "your-project.your_dataset"

try:
    client.get_dataset(dataset_id)  # Make an API request.
    print("Dataset {} already exists".format(dataset_id))
except NotFound:
    print("Dataset {} is not found".format(dataset_id))